#board {
  margin-top: 10px;
}

.box {
  border: 1px solid black;
  height: 150px;
  font-size: 100px;
  text-align: center;
}

.X{
    background-color: #c0ffee;
}

.O{
    background-color: #b2dfee;
}
